body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f9;
}
header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}
header h1 {
    margin: 0;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 2rem 0;
}
.section {
    margin-bottom: 2rem;
}
.about-me-content {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    gap: 2rem; 
}

.about-text {
    width: 70%;
     
}
.about-text p {
    text-align: justify; 
}
.profile-photo {
        width: 30%;
        max-width: 250px;
        height: auto;
        border-radius: 50%; 
        border: 5px solid black;;
        box-shadow: none;
        object-fit:cover; 
        }
h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}
ul {
    list-style: none;
    padding: 0;
}
ul 
li {
    margin-bottom: 0.5rem;
}
.contact a {
    color: #0066cc;
    text-decoration: none;
    margin-top: 1rem;
}
.contact-item {
    display: flex;
    align-items: center;
    gap:0;
    margin-bottom:0;
   
}
.contact-item img {
    width: 40px;
    height: 40px;
    gap:0;
    
}
.contact a:hover {
    text-decoration: underline;
}
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}
.dark-mode {
    background-color: #222; 
    color: white;
}

.dark-mode header,
.dark-mode footer {
    background-color: #111; 
    color: white; }

.dark-mode p, 
.dark-mode h1, 
.dark-mode h2, 
.dark-mode ul, 
.dark-mode li, 
.dark-mode a {
    color: white; 
}

.dark-mode a:hover {
    color: #ddd; 
}
.scroll-progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 5px;
    background-color: #0066cc;
    z-index: 1000;
    transition: width 0.2s ease-out;
}






